.about-wrapper {
  width: 100%;
  min-width: 100vw;
  .about {
    .about-image {
      height: auto;
      max-width: 100%;
      width: 100%;
      max-height: 500px;
      background-repeat: no-repeat;
      background-size: cover;
      object-fit: cover;
      @include loading;
      &.loading {
        min-height: 500px;
      }
    }
  }
  .about-content-wrapper {
    margin-top: 50px;
    @include phone() {
      margin-top: 20px;
    }
    display: flex;
    justify-content: center;
    .about-content {
      max-width: 1300px;
      display: flex;
      @include phone() {
        flex-direction: column;
        padding: 0 10px;
      }
      .about-title-wrapper {
        display: flex;
        flex-basis: 30%;
        justify-content: center;
        @include phone() {
          justify-content: flex-start;
          margin-bottom: 20px;
        }
        align-items: flex-start;
        .about-title {
          width: 150px;
          font-weight: 300;
          border-bottom: 10px black solid;
        }
      }
      .about-paragraph-wrapper {
        flex-basis: 70%;
        display: flex;
        justify-content: space-around;
        @include phone() {
          flex-direction: column;
        }
        .about-paragraph {
          width: 50%;
          @include phone() {
            width: 100%;
          }
          font-size: 15px;
          margin-right: 30px;
        }
      }
    }
  }
}
