@mixin folded {
  @media only all and (max-width: 830px) {
    @content;
  }
}

.cards-wrapper {
  display: flex;
  width: 100%;
  margin-top: 10px;
  flex-direction: column;

  &.selectedCard {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    //    margin-top: 50px;
  }
  &.cards-menu {
    margin-top: 50px;
  }
  justify-content: center;
  .cards-grid {
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: 500px;

    @include imagesBig() {
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      grid-auto-rows: 320px;
    }

    @include imagesMid() {
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      grid-auto-rows: 280px;
    }
    grid-auto-flow: dense;

    justify-items: center;
  }
}

.cards-Page {
  .card-wrapper {
  }
}
// .cards-Page {
//   display: flex;
//   justify-content: center;
//   // width: 100%;
//   // background: red;
//   // width: 100%;
//   // height: 100%;
//   //   flex: 1;
.card-wrapper {
  //   height: auto;
  // height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;

  .card-background {
    background: white;
  }
}
// }

.card-wrapper {
  width: 100%;
  height: 450px;

  @include imagesBig() {
    width: 100%;
    height: 280px;
  }
  @include imagesMid() {
    width: 200px;
    height: 220px;
  }

  &.selectedCard {
    width: 100%;
    height: 800px;
    @include folded() {
      height: 260px;
    }
    @include imagesBig() {
      width: 100%;
      height: 600px;
    }
    @include imagesMid() {
      width: 100%;
      height: 400px;
    }
    display: flex;
    justify-content: center;
  }
  &.card-menu {
    &:hover {
      cursor: pointer;
    }
  }

  .card-background {
    display: flex;
    width: 100%;
    height: 100%;
    background: #d8d8d8;
    justify-content: center;
    .card-img {
      max-height: 100%;
      height: 100%;
      width: auto;
      background-repeat: no-repeat;
      background-size: cover;
      object-fit: cover;
      &.landscape {
        height: auto;
        max-width: 100%;
        width: 100%;
        object-fit: scale-down;
      }
      @include loadingImage;
      @include loading;
    }
  }
  .card-title {
    font-family: "lexend", sans-serif;

    font-size: 20px;
    &.selectedCard {
      padding-top: 10px;
      font-size: 30px;
    }
  }
}

.card-nav {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
  width: 100%;
  display: flex;
  font-family: "lexend", sans-serif;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:hover {
    cursor: pointer;
  }
}
