.contact-wrapper {
  display: flex;

  justify-content: center;
  width: 100%;

  .contact {
    max-width: 1000px;
    display: flex;
    justify-content: space-around;

    .contact-content-wrapper {
      margin-top: 50px;

      display: flex;
      // justify-content: space-around;

      @include phone() {
        margin-top: 20px;
        flex-direction: column;
      }
      .contact-content {
        display: flex;
        flex-direction: column;
        padding: 0 10px;

        .contact-title-wrapper {
          display: flex;

          //  flex-basis: 30%;
          justify-content: flex-start;
          margin-bottom: 20px;

          align-items: flex-start;
          .contact-title {
            width: 150px;
            font-weight: 300;
            border-bottom: 10px black solid;
          }
        }
        .contact-paragraph-wrapper {
          flex-basis: 70%;
          display: flex;
          justify-content: space-around;
          .contact-paragraph {
            font-size: 15px;
            margin-right: 30px;
          }
        }
      }
      .contact-form {
        width: 300px;
        display: flex;
        flex-direction: column;
        textarea,
        input {
          text-indent: 5px;
          // padding: 10px;
          border: solid 1px black;
          height: 40px;
          border-radius: 8px;
          margin-top: 20px;
          font-family: "Montserrat", sans-serif;
          &::placeholder {
            font-size: 15px;
            line-height: 20px;
          }
          &.sent {
            border: solid 1px white;
          }
          // &.send-message {
          //   border: solid 1px white;
          // }
        }
        textarea {
          padding-top: 10px;
        }
        .contact-form-message {
          height: 100px;
        }
      }
      .contact-form-send-wrapper {
        display: flex;
        justify-content: center;
        line-height: 40px;
        align-items: center;
        width: 100%;
        background: black;
        margin-top: 5px;
        height: 40px;
        color: $white;
        text-transform: uppercase;
        border-radius: 8px;
        font-family: "Montserrat", sans-serif;
        &:hover {
          cursor: pointer;
        }
        &.sent {
          background: $white;
          color: black;
          &:hover {
            cursor: auto;
          }
        }
      }
    }
  }
}

.contact-form-error {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: rgb(143, 6, 6);
}

.contact-form-clear-wrapper {
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;

  .contact-form-clear {
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
    color: $white;
    padding: 5px 15px;
    border-radius: 14px;
    background: rgb(71, 71, 71);
    &:hover {
      cursor: pointer;
    }
  }
}
