.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
}
.footer-wrapper {
  margin-top: 50px;
  width: 100%;
  height: 100px;
  background: #eaeaea;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  @include phone {
    padding-top: 10px;
    flex-direction: column;
    height: 200px;
  }
  .footer-name-wrapper {
    .footer-name {
      color: black;
      font-weight: 500;
    }
  }
  .footer-contact-wrapper {
    width: 200px;
    height: 40px;
    // background: black;

    //  border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    &:hover {
      background: black;
      color: $white;
      cursor: pointer;
    }
    color: black;
    &:hover {
    }
    .footer-contact {
    }
  }
  .footer-instagram-wrapper {
  }
}
