.menuBar-wrapper {
  height: 70px;
  width: 100%;
  max-width: 100vw;
  // &.details {
  //   height: 30px;
  // }
  &.phone {
    height: 50px;
  }

  // background: red;
  .menuBar {
    position: fixed;
    height: 70px;
    width: 100%;
    background: black;
    // &.details {
    //   height: 30px;
    // }
    &.phone {
      height: 50px;
    }

    .menuBar-background-image {
      &.phone {
        display: none;
      }
      position: absolute;
      z-index: -1;
    }
    .menu-titles {
      max-width: 100vw;
      display: flex;

      height: 70px;
      &.details {
        //height: 30px;
        font-size: 10px;
        font-weight: 600;
        text-transform: capitalize;
      }
      padding-left: 20px;
      padding-right: 20px;
      justify-content: space-between;

      &.phone {
        height: 50px;
      }

      .menu-title-wrapper {
        display: flex;
        align-items: center;

        .menu-title {
          color: $white;
          font-weight: 200;
          &.phone {
            font-size: 20px;
          }
          &.details {
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      .menu-icon-wrapper {
        display: flex;
        align-items: center;
        &.computer {
          display: none;
        }
      }
      .menu-button-wrapper {
        display: flex;
        align-items: center;
        font-size: 19px;
        &.phone {
          display: none;
        }

        .menu-button {
          padding-left: 10px;
          color: $white;
          font-weight: 200;
          &:hover {
            cursor: pointer;
          }
          &.selected {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.menu-popup-wrapper {
  overflow: hidden;
  position: fixed;
  background: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  &.computer {
    display: none;
  }
  .menu-popup {
    color: $white;
    display: flex;
    align-items: center;

    .menu-button-wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-around;
      height: 80%;
      max-height: 500px;
      font-size: 40px;
      .menu-button {
        margin-bottom: 20px;

        &:hover {
          cursor: pointer;
        }
        &.selected {
          text-decoration: underline;
        }
      }
    }
  }
}
