@mixin folded {
  @media only all and (max-width: 830px) {
    @content;
  }
}

@mixin phone {
  @media only all and (max-width: 600px) {
    @content;
  }
}

@mixin imagesMid {
  @media only all and (max-width: 590px) {
    @content;
  }
}

@mixin imagesBig {
  @media only all and (max-width: 830px) {
    @content;
  }
}

@mixin loading {
  &.loading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@mixin loadingImage {
  &.loadingImage {
    max-height: auto;
    background-size: unset;
    background-repeat: unset;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
  }
}
